/*
* Structural Style for MADS
*/

body {
	margin: 0px;
	overflow: hidden;
	font-size: 12px;
}

#menubar {
	height: 34px;
	padding: 0px;
	margin:0px;
	border: 0px;
	background-color: #e6e6e6;
}

#projectSelector {
	height: 25px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
}

#menubar h1 {
	float: left;
	padding-left: 20px;
	font-size: 14px;
	color: #555555;
}

#menu {
	float: right;
	margin-right: 20px;
	font-size: 12px;
}

#whiteboard {
	background-color: #eeeeee;
}

.dialog {
	display: none;
}