/*
* Structural Style for MADS
*/

html, body {
   height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	font-size: 12px;
}

#menubar {
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 34px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	background-color: #e6e6e6;
}

#menubar h1 {
	float: left;
	padding-left: 20px;
	font-size: 14px;
	color: #555555;
}

#menu {
	float: right;
	z-index: 10;
	margin-right: 20px;
	font-size: 12px;
}

#menu_canvas {
	float: left;
	z-index: 10;
	margin-left:20px;
}

#whiteboard {
	background-color: #eeeeee;
}

#error_dialog {
	display: none;
}

.postit {
	background-image: url(images/postit.svg);
}

.postitdone {
	background-image: url(images/postit_done.svg);
}

.postitsprint {
	background-image: url(images/postit_sprint.svg);
}

/* PROJECT MENU */

#projectmenu {
	float: left;
	width: 23%;
	height: 100%;
	border-right-style: solid;
	border-right-color: #bbbbbb;
	border-right-width: 8px;
	font-size: 16px;
	overflow: hidden;
}

#projectmenu p {
	cursor: pointer;
	width:100%;
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	background-color:white;
	border-bottom-style: solid;
	border-bottom-color: white;
	border-bottom-width: 2px;
}

#projectmenu p:hover {	
	border-bottom-color: #cccccc;
}

#projectmenuselected p{
	border-bottom-color: #cccccc;
}

#projectcontent {
	float:right;
	width:75%;
	height: 100%;
	overflow: hidden;
}

#radiobuttons {
	padding-left: 20px;
	margin-top: 3px;
}

#projectinnercontent {
	padding-top: 12px;
	width: 100%;
	height: 100%;
}

#projectinfo {
	float: left;
	width: 30%;
	height: 100%;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-right-width: 3px;
}

#projectinfo h2 {
	color: #777777;
}

#projectinfo textarea {
    resize: none;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
}

#projectinfo input[type=text] {
	width: 230px;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
}

#membersinfo {
	float:left;
	width: 30%;
	height: 100%;
	margin-left: 15px;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-right-width: 3px;
}

#membersinfo h2 {
	color: #777777;
}

#membersinfo img {
	width:20px;
	margin-right: 10px;
}

#userlist img {
	width:20px;
	margin-right: 10px;
}

#projectbuttondiv {
	float: right;
	padding-right: 20px;
	font-size: 13px;
}

#projectlist {
	margin-top: 50px;
}

#projectchanges {
	float:left;
	width: 30%;
	height: 100%;
	margin-left: 15px;
}

#projectchanges h2 {
	color: #777777;
}

#projectchanges img {
	width:15px;
	margin-right: 8px;
}

#projectchanges span{
	color: red;
	font-size: 12px;
	letter-spacing:-1px
}

#backtoproject {
	margin-right: 30px;
}

img.postit_icon {
	width: auto;
	height: 15px;
	margin-right:5px;
}

img.next_sprint_icon {
	width: auto;
	height: 16px;
	margin-right: 5px;
}
